@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "#root",
  $enable-semantic-container: true,
);

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

footer div {
  text-align: center;
}